

#navbar {
    position: fixed;
    top: 0px;
}

#welcome-section {
    padding-top: 0px;   
    margin-top: 0px;   
    display: block;   
    height: 100vh;
}

@media only screen and (max-width: 600px) {
    body {
      background-color: lightblue;
    }
  }